body{
    margin-top: 80px;
    margin-right: 250px;
    margin-bottom: 100px;
    margin-left: 250px;
    background-color: #0e0e0e;
    color: white;

}

div{
    width="600" height="350"
}
